#main--products {
  margin-top: 65px;
}

.header--products {
  height: 95px;
}

.header--products__heading {
  color: var(--color-off-white);
  font-weight: 500;
  letter-spacing: 1.65px;
}

.products-container {
  text-align: center;
  margin-bottom: 160px;
}

.products {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.products:not(:last-child) {
  margin-bottom: 110px;
}

.products__img-container {
  width: 100%;
}

.products__img-container img {
  width: 100%;
  border-radius: 8px;
  margin-bottom: 18px;
}

#overline--small-text {
  margin-top: 0px;
  font-size: 12px;
  letter-spacing: 9px;
}

.products__heading {
  width: 200px;
  margin: 6px auto 4px;
  text-align: center;
  line-height: 34px;
}

.products__text {
  color: #7d7d7d;
  margin-bottom: 20px;
}

/* **************************************
*****************************************
425PX MEDIA QUERIES
*****************************************
************************************** */

@media (min-width: 425px) {
  .shop-item {
    margin: 0 auto;
  }

  .featured-zx7__inner {
    top: 130px;
    left: 75px;
  }

  .products__text {
    max-width: 560px;
  }
}

/* **************************************
*****************************************
768PX MEDIA QUERIES
*****************************************
************************************** */

@media (min-width: 768px) {
  .header--products {
    height: 200px;
  }

  .header--products__heading {
    font-size: 34px;
  }

  #main--products {
    margin-top: 105px;
  }

  .products__img-container img {
    margin-bottom: 28px;
  }

  .products__heading {
    width: 340px;
  }

  .products__heading--speakers {
    width: 220px;
  }

  .products__text {
    margin-top: 20px;
  }
}

/* **************************************
*****************************************
1024PX MEDIA QUERIES
*****************************************
************************************** */

@media (min-width: 1024px) {
  .overline {
    margin-top: 0;
  }

  .products {
    flex-direction: row;
    gap: 100px;
  }

  .products-reverse-layout {
    order: 1;
  }

  .products__img-container {
    flex: 1 1 50%;
  }

  .products__img-container img {
    margin-bottom: 0;
  }

  .products-bottom {
    flex: 1 1 50%;
    text-align: left;
  }

  .products__heading {
    margin: 6px auto 4px 0;
    text-align: left;
  }
}

/* **************************************
*****************************************
1440PX MEDIA QUERIES
*****************************************
************************************** */

@media (min-width: 1440px) {
  .products {
    gap: 120px;
  }

  .products__text {
    max-width: 460px;
  }
}
