* {
  box-sizing: border-box;
}

body {
  position: relative;
  --color-white: #fff;
  --color-off-white: #fafafa;
  --color-light-grey: #f1f1f1;
  --color-black: #000;
  --color-off-black: #101010;
  --color-orange: #d87d4a;
  --color-light-orange: #fbaf85;
  font: normal 500 15px/25px "Manrope", sans-serif;
}

main {
  padding: 0 20px;
  margin-top: 100px;
}

a {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
.overline,
.sub-title,
.btn,
.header__title,
.shop-headphones__link-text {
  text-transform: uppercase;
}

h1,
h2,
h3,
h4,
h5,
h6,
.sub-title,
.btn-text {
  font-weight: 700;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

h1 {
  color: var(--color-white);
  font-size: 34px;
  letter-spacing: 1.8px;
  line-height: 36px;
}

h2 {
  font-size: 24px;
  letter-spacing: 1.5px;
  line-height: 44px;
}

h6 {
  font-size: 13px;
  letter-spacing: 1.3px;
  line-height: 24px;
}

.overline {
  color: var(--color-orange);
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 10px;
  line-height: 19px;
}

.sub-title {
  color: var(--color-orange);
  font-size: 13px;
  letter-spacing: 1px;
  line-height: 25px;
}

.btn {
  width: 138px;
  height: 42px;
  border: 0;
  font-size: 12px;
  font-weight: 600;
  letter-spacing: 1.25px;
  line-height: 25px;
}

.btn-text--white {
  color: var(--color-off-white);
}

.hidden-sm {
  display: none;
}

/* **************************************
*****************************************
NAVIGATION
*****************************************
************************************** */

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 70px;
  padding: 6px 20px 0;
  border-bottom: 1px solid #2d2d2d;
  background-color: #131313;
}

.nav__tap-container-left,
.nav__tap-container-right {
  display: flex;
  align-items: center;
  width: 40px;
  height: 40px;
}

.nav__tap-container-left {
  justify-content: flex-start;
}

.nav__tap-container-right {
  justify-content: flex-end;
}

.nav__burger-container {
  width: 15px;
  padding-bottom: 4px;
}

.nav__logo-container {
  width: 120px;
}

.nav__cart-container {
  width: 20.5px;
  padding-bottom: 1px;
}

.nav__burger,
.nav__logo,
.nav__cart {
  width: 100%;
  height: auto;
}

/* **************************************
*****************************************
HEADER
*****************************************
************************************** */

header {
  position: relative;
  z-index: -200;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 456px;
  padding: 0 20px;
  background-color: #131313;
  text-align: center;
}

.header__img::after {
  content: "";
  position: absolute;
  top: -70px;
  left: 0px;
  z-index: -100;
  width: 100%;
  height: 111%;
  background: url("../../assets/home/mobile/image-header.jpg") center/contain
    no-repeat;
  filter: brightness(0.75);
}

.header-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 456px;
}

.header__title {
  margin-top: 28px;
  color: #8c8c8c;
  font-size: 12.5px;
  font-weight: 400;
  letter-spacing: 9px;
  line-height: 19px;
}

.header__heading,
.header__text {
  text-align: center;
}

.header__text {
  color: #c7c7c7;
  margin-bottom: 18px;
  font-size: 14px;
}

.header__btn {
  background-color: var(--color-orange);
}

/* **************************************
*****************************************
SHOP SECTION
*****************************************
************************************** */

.shop-item {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  width: 280px;
  height: 122px;
  border-radius: 8px;
  margin-bottom: 70px;
  background-color: var(--color-light-grey);
  color: var(--color-off-black);
  text-align: center;
}

.shop-item__img-container {
  position: absolute;
  bottom: 45px;
  width: 122px;
}

.shop-item__img-container img {
  width: 100%;
}

.shop__link {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.shop__link-text {
  margin-top: 3px;
  margin-right: 6px;
  color: #797979;
  font-size: 12px;
  letter-spacing: 0.85px;
}

.shop__link-arrow {
  margin-bottom: 8.5px;
}

/* **************************************
*****************************************
FEATURED SECTION
*****************************************
************************************** */

.featured-zx9 {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  width: 280px;
  height: 530px;
  padding: 0 25px 42px;
  border-radius: 8px;
  margin-bottom: 25px;
  background-color: var(--color-orange);
}

.featured-zx9__img-container {
  position: absolute;
  bottom: 300px;
  width: 135px;
}

.featured-zx9__img {
  width: 100%;
}

.featured-zx9__heading {
  width: 200px;
  font-size: 29px;
  text-align: center;
}

.featured-zx9__text {
  margin: 18px 0 20px;
  color: var(--color-light-grey);
  font-size: 13px;
  font-weight: 400;
  letter-spacing: 0.25px;
  line-height: 1.85;
  text-align: center;
}

.featured-zx9__btn {
  background-color: var(--color-off-black);
}

.featured-zx7 {
  position: relative;
  width: 280px;
}

.featured-zx7__img {
  width: 100%;
  border-radius: 8px;
  margin-bottom: 20px;
}

.featured-zx7__inner {
  position: absolute;
  top: 78px;
  left: 20px;
}

.featured-zx7__heading {
  margin-bottom: 23px;
  color: var(--color-off-black);
}

.featured-zx7__btn {
  border: 1px solid var(--color-off-black);
  color: var(--color-off-black);
}

.featured-yx1__img-container {
  width: 280px;
  filter: brightness(0.85);
}

.featured-yx1__img {
  width: 100%;
  border-radius: 8px;
}

