body {
  margin: 0 20px;
  --color-white: #fff;
  --color-off-white: #fafafa;
  --color-light-grey: #f1f1f1;
  --color-black: #000;
  --color-off-black: #101010;
  --color-orange: #d87d4a;
  --color-light-orange: #fbaf85;
}

}

header {
  position: relative;
}

.header-bg-img {
  position: absolute;
  top: 0px;
  left: -20px;
  z-index: -100;
  width: calc(100% + 40px);
}

