* {
  box-sizing: border-box;
}

body {
  position: relative;
  --color-white: #fff;
  --color-off-white: #fafafa;
  --color-light-grey: #f1f1f1;
  --color-black: #000;
  --color-off-black: #101010;
  --color-orange: #d87d4a;
  --color-light-orange: #fbaf85;
  font: normal 500 15px/25px "Manrope", sans-serif;
}

/* HIDE SCROLLBAR BUT STILL ALLOW SCROLL (CHROME, SAFARI, OPERA) */
body::-webkit-scrollbar {
  width: 0 !important;
}

/* HIDE SCROLLBAR BUT STILL ALLOW SCROLL (FIREFOX) */
body {
  scrollbar-width: none;
}

/* LOCK SCROLL ON BODY ELEMENT WHEN HAMBURGER MENU IS OPEN */
.scroll-lock {
  overflow-y: hidden;
}

main {
  position: relative;
  z-index: -300;
  padding: 0 22px;
  margin-top: 100px;
}

a {
  text-decoration: none;
}

ul {
  list-style-type: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
.overline,
.sub-title,
.btn,
.header__title,
.shop-headphones__link-text,
.footer-menu__link {
  text-transform: uppercase;
}

h1,
h2,
h3,
h4,
h5,
h6,
.sub-title,
.btn-text {
  font-weight: 700;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

h1 {
  color: var(--color-white);
  font-size: 34px;
  letter-spacing: 1.8px;
  line-height: 36px;
}

h2 {
  font-size: 24px;
  letter-spacing: 1.5px;
  line-height: 44px;
}

h6 {
  font-size: 13px;
  letter-spacing: 1.3px;
  line-height: 24px;
}

.overline {
  color: var(--color-orange);
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 10px;
  line-height: 19px;
}

.sub-title {
  color: var(--color-orange);
  font-size: 13px;
  letter-spacing: 1px;
  line-height: 25px;
}

.btn {
  width: 138px;
  height: 42px;
  border: 0;
  font-size: 12px;
  font-weight: 600;
  letter-spacing: 1.25px;
  line-height: 25px;
}

.btn-text--white {
  color: var(--color-off-white);
}

.hidden,
.hidden-sm {
  display: none;
}

/* **************************************
*****************************************
NAVIGATION
*****************************************
************************************** */

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 70px;
  padding: 6px 22px 0;
  border-bottom: 1px solid #2d2d2d;
  background-color: #131313;
}

.nav__tap-container-left,
.nav__tap-container-right {
  display: flex;
  align-items: center;
  width: 40px;
  height: 40px;
}

.nav__tap-container-left {
  justify-content: flex-start;
}

.nav__tap-container-right {
  justify-content: flex-end;
}

.nav__burger-container {
  width: 15px;
  padding-bottom: 4px;
}

.nav__burger--active {
  filter: brightness(0.65);
}

.nav-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  margin-top: 70px;
  background: rgba(5, 5, 5, 0.7);
}

.nav-list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  padding: 80px 22px 16px;
  margin: 0;
  background-color: var(--color-white);
}

.nav-list__item {
  width: 100%;
}

.nav-list__item:not(:last-child) {
  margin-bottom: 65px;
}

.nav__logo-container {
  width: 120px;
}

.nav__cart-container {
  width: 20.5px;
  padding-bottom: 1px;
}

.nav__burger,
.nav__logo,
.nav__cart {
  width: 100%;
  height: auto;
}

/* **************************************
*****************************************
HEADER
*****************************************
************************************** */

header {
  position: relative;
  z-index: -200;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 456px;
  padding: 0 22px;
  background-color: #131313;
  text-align: center;
}

.header__img::after {
  content: "";
  position: absolute;
  top: -70px;
  left: 0px;
  z-index: -100;
  width: 100%;
  height: 111%;
  background: url("../../assets/home/mobile/image-header.jpg") center/contain
    no-repeat;
  filter: brightness(0.75);
}

.header-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 456px;
}

.header__title {
  margin-top: 28px;
  color: #8c8c8c;
  font-size: 12.5px;
  font-weight: 400;
  letter-spacing: 9px;
  line-height: 19px;
}

.header__heading,
.header__text {
  text-align: center;
}

.header__text {
  color: #c7c7c7;
  margin-bottom: 18px;
  font-size: 14px;
}

.header__btn {
  background-color: var(--color-orange);
}

/* **************************************
*****************************************
SHOP SECTION
*****************************************
************************************** */

.shop-section {
  margin-bottom: 130px;
}

.shop-item {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
  height: 122px;
  border-radius: 8px;
  background-color: var(--color-light-grey);
  color: var(--color-off-black);
  text-align: center;
}

.shop-item:not(:last-child) {
  margin-bottom: 65px;
}

.shop-item__img-container {
  position: absolute;
  bottom: 45px;
  width: 122px;
}

.shop-item__img-container img {
  width: 100%;
}

.shop__link {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.shop__link-text {
  margin-top: 3px;
  margin-right: 6px;
  color: #797979;
  font-size: 12px;
  letter-spacing: 0.85px;
}

.shop__link-arrow {
  margin-bottom: 8.5px;
}

/* **************************************
*****************************************
FEATURED SECTION
*****************************************
************************************** */

/* ZX9 SPEAKER */
.featured-zx9 {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
  height: 530px;
  padding: 0 25px 42px;
  border-radius: 8px;
  margin-bottom: 25px;
  background-color: var(--color-orange);
  background-image: url("../../assets/home/desktop/pattern-circles.svg");
  background-position: 50% -125px;
  background-size: cover;
  background-repeat: no-repeat;
  overflow: hidden;
}

.featured-zx9__img-container {
  position: absolute;
  bottom: 300px;
  width: 135px;
}

.featured-zx9__img {
  width: 100%;
}

.featured-zx9__heading {
  width: 200px;
  font-size: 29px;
  text-align: center;
}

.featured-zx9__text {
  margin: 18px 0 20px;
  color: var(--color-light-grey);
  font-size: 13px;
  font-weight: 400;
  letter-spacing: 0.25px;
  line-height: 1.85;
  text-align: center;
}

.featured-zx9__btn {
  background-color: var(--color-off-black);
}

/* ZX7 SPEAKER */
.featured-zx7 {
  position: relative;
  width: 100%;
}

.featured-zx7__img {
  width: 100%;
  border-radius: 8px;
  margin-bottom: 20px;
}

.featured-zx7__inner {
  position: absolute;
  top: 78px;
  left: 20px;
}

.featured-zx7__heading {
  margin-bottom: 23px;
  color: var(--color-off-black);
}

.featured-zx7__btn,
.featured-yx1__btn {
  border: 1px solid var(--color-off-black);
  color: var(--color-off-black);
}

/* YX1 EARPHONES */
.featured-yx1__img-container {
  width: 100%;
  margin-bottom: 25px;
  filter: brightness(0.85);
}

.featured-yx1__img {
  width: 100%;
  border-radius: 8px;
}

.featured-yx1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: 191px;
  padding-left: 25px;
  border-radius: 8px;
  margin-bottom: 125px;
  background-color: var(--color-light-grey);
  color: var(--color-off-black);
  text-align: justify;
}

.featured-yx1__heading {
  width: 100%;
  border-radius: 8px;
  margin-bottom: 20px;
  font-size: 23px;
}

/* **************************************
*****************************************
ABOUT SECTION
*****************************************
************************************** */

.about {
  text-align: center;
}

.about__img-container {
  width: 100%;
  margin-bottom: 25px;
  filter: brightness(0.85);
}

.about__img {
  width: 100%;
  border-radius: 8px;
}

.about__heading {
  line-height: 33px;
}

.about__heading span {
  color: var(--color-orange);
}

.about__text {
  margin: 22px 0 120px;
  color: #7d7d7d;
}

/* **************************************
*****************************************
FOOTER SECTION
*****************************************
************************************** */

.footer {
  padding: 0 22px 20px;
  background-color: var(--color-off-black);
  text-align: center;
}

.footer__top-border {
  width: 100px;
  border-top: 5px solid var(--color-orange);
  margin: 0 auto;
}

.footer__logo-container {
  margin: 42px 0;
}

.footer-menu {
  padding: 0;
  width: 120px;
  margin: 0 auto 42px;
}

.footer-menu__item {
  margin-bottom: 15px;
}

.footer-menu__link {
  color: var(--color-off-white);
  font-size: 13px;
  letter-spacing: 2px;
}

.footer-text,
.footer-copy {
  color: #878787;
}

.footer-text {
  margin-bottom: 42px;
  letter-spacing: 0.28px;
}

.footer-copy {
  margin-bottom: 40px;
}

.footer-socials {
  display: flex;
  justify-content: space-between;
  width: 110px;
  margin: 0 auto 8px;
}

